/* Global Reset & Base Styles */
html,
body {
  margin: 0;
  padding: 0;
  font-family: "Figtree", sans-serif;
}

body,
button {
  font-family: "Figtree", sans-serif !important;
}

/* Number Input Arrows */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}

input:focus {
    outline: none;
  }

/* Hide Google Translate top bar and fix spacing */
/* https://stackoverflow.com/questions/75471527/how-to-hide-google-translate-toolbar-popup */
.VIpgJd-ZVi9od-ORHb-OEVmcd {
  display: none !important;
}
.VIpgJd-suEOdc VIpgJd-yAWNEb-L7lbkb {
  display: none !important;
}
.VIpgJd-ZVi9od-aZ2wEe-wOHMyf {
  display: none !important;
}
.VIpgJd-yAWNEb-hvhgNd {
  display: none !important;
}
#goog-gt-vt {
  display: none !important;
}
#goog-gt-tt {
  display: none !important;
}

/* Header (Top Bar) */
.top-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  background-color: #000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  z-index: 300;
}
.top-bar .hamburger a {
  text-decoration: none;
}
.top-bar .hamburger i {
  color: #fff;
  font-size: 24px;
  margin: 0 10px;
  cursor: pointer;
  transition: all 0.3s ease;
}

#google_translate_element {
  opacity: 0;
  position: absolute;
  top: -500px;
  left: -500px;
}

/* Language Select Style */
.language-select-wrapper {
  position: relative;
}

.language-select-trigger {
  color: white;
  padding: 8px 10px;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  border: 2px solid #555;
  border-radius: 4px;
  user-select: none;
  width: 92px;
  display: none; /* to handle the bug when google maps didn't load for some reason */
}
.language-select-trigger:hover {
  border-color: #ffbd59;
}

.language-select-trigger img,
.language-select-option img {
  width: 36px;
  height: 24px;
  border-radius: 3px;
  border: 1px solid #555;
}

.language-select-options {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background-color: black;
  border: 1px solid #555;
  border-top: none;
  z-index: 10;
  display: none;
  border-radius: 6px;
}

.language-select-option {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 8px 10px;
  cursor: pointer;
  color: white;
}

.language-select-option:hover {
  background-color: #ffbd59;
  color: black;
}

/* Fixed Logo */
.logo-container {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 310;
}
.logo-container img {
  height: 100%;
}

/* Overlay Menu */
.overlay-menu {
  position: fixed;
  top: 0px;
  right: 0;
  padding-top: 150px;
  padding-bottom: 150px;
  background: #000;
  transition: transform 0.5s ease;
  z-index: 200;
}

@media (max-width: 768px) {
  .overlay-menu {
    width: 100%;
    height: 100%;
    transform: translateX(100%); /* Hidden off-screen to the right */
  }
  .overlay-menu.open {
    transform: translateX(0); /* Slides in fully */
  }
}

@media (min-width: 769px) {
  .overlay-menu {
    width: 100%;
    height: 100%;
    transform: translateX(100%); /* Start offscreen */
  }
  .overlay-menu.open {
    transform: translateX(0); /* Slide in from the right */
  }
}

.overlay-menu ul {
  list-style: none;
  margin: 0;
  text-align: right;
}
.overlay-menu ul li {
  margin: 50px 50px;
}
.overlay-menu ul li a {
  text-decoration: none;
  font-size: 50px;
  color: #fff;
  cursor: pointer;
}

/* Footer */
footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 60px;
  background-color: #000;
  padding: 0 20px;
  color: #fff;
  z-index: 300;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-left-section {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.footer-left-section a {
  color: white;
  line-height: 24px;
}

#book-now-button {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  background-color: #ffbd59;
  color: #000;
  padding: 10px 20px;
  font-size: 1rem;
  font-weight: bold;
  border: 2px solid #ffbd59;
  border-radius: 4px;
  text-transform: uppercase;
  letter-spacing: 1px;
  cursor: pointer;
  box-shadow: 0 8px 10px rgba(0, 0, 0, 0.15);
  border: 2px solid #ffbd59;
}

#book-now-button:hover {
  background-color: #000;
  color: #ffbd59;
}

.footer-right-section {
  display: flex;
  gap: 30px;
  justify-content: flex-end;
  align-items: center;
}

.footer-right-section .bottom-item {
  text-align: center;
  padding: 3px 0;
}
.footer-left-section a {
  text-decoration: none;
}
.footer-right-section .bottom-item a i {
  color: #fff;
  font-size: 24px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.overlay-menu a:hover,
.hamburger i:hover,
.footer-left-section a:hover,
.footer-right-section .bottom-item a i:hover {
  color: #ffbd59;
}
